<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers
      </button>
      
        <br><br>


      <ul class="list-group">
        <div *ngIf="onlyOdd">
            <li
              class="list-group-item" 
              *ngFor="let number of oddNumbers" 
              [ngClass]="{ odd: number % 2 != 0}" 
              [ngStyle]="{ backgroundColor: number % 2 != 0? 'lightGrey' : 'green'}"
              >
              {{ number }}
            </li>
        </div>

        <!-- see how ng-template can be used for exactly the same thing as above  -->
        <!-- notice the use of square bracket instead of * inside ng-template -->
        <ng-template [ngIf]="onlyOdd">
          <p> The same list is now rendered through ng-template with [ngIf]</p>
            <li
            class="list-group-item" 
            *ngFor="let number of oddNumbers" 
            [ngClass]="{ odd: number % 2 != 0}" 
            [ngStyle]="{ backgroundColor: number % 2 != 0? 'lightGrey' : 'green'}"
            >
            {{ number }}
          </li>
        </ng-template>

        <div *ngIf="!onlyOdd">    
            <li
              class="list-group-item" *ngFor="let number of evenNumbers" [ngClass]="{ even: number % 2 == 0}">
              {{ number }}
            </li>
        </div>

        <div *appUnless="onlyOdd">
            <p> The same list is now rendered through a structural directive *appUnless </p>
            <li
              class="list-group-item" *ngFor="let number of evenNumbers" [ngClass]="{ even: number % 2 == 0}">
              {{ number }}
            </li>
        </div>
        
      </ul>

      <!-- adding attribute directive -->
      <p appBasicHighlight>Style me with basic directive style...</p>
      <p 
        appHostlistenerFontColor 
        appHostListenerHighlight >
      Style me with host listener directive style...
      </p>
      
      <!-- see the difference between property binding and directives -->
      <p 
        appHostlistenerFontColor 
        appHostBindingHighlight 
        [defaultColor]="'red'" 
        [highlightColor]="'green'" >
        Style me with host binding and listener directive style...
      </p>

      <!--- add switch; bind ngSwitch as a property -->
      <div [ngSwitch]="mySwitchValue">
        <p *ngSwitchCase="5">Switch value is 5</p>
        <p *ngSwitchCase="15">Switch value is 15</p>
        <p *ngSwitchCase="25">Switch value is 25</p>
        <p *ngSwitchDefault>Switch Default value is 60</p>
      </div>

    </div>
  </div>
</div>
